@media screen and (max-width: 1000px) {
  .nav-toggle {
    display: none;
  }
  .projpage {
    margin-left: 32px;
    margin-right: 16px;
  }
  li>p{
    margin-left: -48px;
    word-wrap: break-word;
  }

}

